body{
	background-color: #1a1a1a;
	color: white;
}
#naslov-div {
	display: flex;
	padding-top: 0.5vh;
	font-size: 20px;
	margin: 0 auto;
	width: 33%;
	font-family: 'Roboto', sans-serif;
	justify-content: space-between;
}
hr {
	opacity: 0.2;
}
#wraper{
	display: flex;
	min-height: 90.5vh;
	flex-direction: column;
	justify-content: space-between;
}
#main_part{
	padding-top: 1vh;
	margin: 0 auto;
	width: 31%;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
}
.novo{
	margin-left: 10px;
	font-size: 14px;
	width: 90%;
	padding-bottom: 0;
}

.readmore{
	padding-top: 0px;
	margin-top: 0px;
	font-size: 14px;
	color: rgb(177, 177, 177);
	margin-left: 10px;
	margin-bottom: 30px;
}

#footer{
	/*max-width: 37%;
	display: flex;
	justify-content: flex-start;
	margin-left: 20%;
	font-family: 'Roboto', sans-serif;*/
	
	display: flex;
	font-size: 16px;
	margin: 0 auto;
	width: 31%;
	font-family: 'Roboto', sans-serif;
	justify-content: space-between;
}
#githuby{
	display: flex;
}
#youtubey{
	display: flex;
}
#malo_desno{
	margin-left: 5px;
	margin-right: 100px;
	text-decoration: none;
	color: grey;
}
#malo_desnije{
	margin-left: 5px;
	margin-right: 250px;
	text-decoration: none;
	color: grey;
}
#qut{
	font-size: 15px;
	color: grey;
}
a:hover {
  text-decoration: underline;
}
#desno:hover{
	text-decoration: underline;
}
#lijevo:hover{
	text-decoration: underline;
}
.readmore:hover{
	text-decoration: underline;
}
.plavo{
	color: rgb(176, 176, 176);
	font-size: 19px;
}
.datum{
	font-size: 14px;
	color: rgb(89, 89, 89);
}
